@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-blue-primary {
  background-color: #003670;
}

.bg-blue-primary-light {
  background-color: #eef5ff;
}

.bg-yellow-primary {
  background-color: #f58315;
}

.page-loading {
  height: 4px;
  width: 100%;
  background-color: blue;
  position: fixed;
}

.page-loading > div {
  height: 100%;
  width: 100%;
  background-color: #95c7ff;
  animation: page-loading-animation 3s infinite;
}

@keyframes page-loading-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.custom-spinner {
  height: 32px;
  width: 32px;
  border: 3px solid #979797;
  margin: auto;
  border-radius: 50%;
  border-left: 3px solid transparent;
  animation: spinner-spin 0.5s infinite linear;
}

@keyframes spinner-spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.card {
  @apply bg-white shadow-md p-6 rounded-md my-4;
}

input[type='checkbox']:checked {
  box-shadow: 0 0 6px #0774fc;
}

input[type='radio'] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: inherit;
  border: 1px solid #747474;
  position: relative;
  box-sizing: border-box;
}
input[type='radio']:checked:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 105%;
  height: 105%;
  box-shadow: 0 0 6px #0774fc;
  background-color: #0774fc;
}

.object-cover img {
  object-fit: cover;
}
